#upload-icon { -fx-background-image: url('../images/upload-icon.png'); }
#back-icon { -fx-background-image: url('../images/back-icon.png'); }
#home-icon { -fx-background-image: url('../images/home-icon.png'); }