/* Thickness of vertical dividers */
#main-split-pane > .split-pane-divider { -fx-padding: 1; }

/* Remove internal scroll-pane border */
.app-scroll-pane { -fx-background-color: rgba(255, 255, 255, 0); }

#top-hbox {
    -fx-border-width: 1px 0px 0px 0px;
    -fx-border-color: #d5d5d5;
    -fx-border-style: solid;
}

#center-hbox {
    -fx-border-width: 0px 0px 1px 0px;
    -fx-border-color: lightgray;
    -fx-border-style: solid;
}

.button-bar {
    -fx-background-color: white;
    -fx-min-height: 35px;
}

.generic-icon {
    -fx-max-width: 40px;
    -fx-max-height: 40px;
    -fx-min-width: 40px;
    -fx-min-height: 40px;
    -fx-background-size: 35px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-border-color: rgba(255, 255, 255, 0);
    -fx-background-color: rgba(255, 255, 255, 0);
    -fx-background-radius: 0px;
}

#profile-icon { -fx-background-image: url('images/profile-icon.png'); }
#settings-icon { -fx-background-image: url('images/settings-icon.png'); }
#help-icon { -fx-background-image: url('images/help-icon.png'); }

.generic-icon:hover {
    -fx-cursor: hand;
    -fx-background-color: lightgray;
}

#main-toolbar {
    -fx-min-height: 60;
    -fx-background-color: transparent;
}

.generic-button {
    -fx-background-color: #008604;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-family: "Arial Rounded MT Bold";
}

.generic-button:hover {
    -fx-background-color: #005b04;
    -fx-cursor: hand;
}

/* Hyperlinks */
.hyperlink:visited { -fx-underline: false; }
.hyperlink:hover { -fx-underline: true; }

/* Custom menu (profile icon) */
.custom-menu-item, .custom-menu-item:visited, .custom-menu-item:hover { -fx-background-color: rgba(255, 255, 255, 0); }
.menu-button { -fx-background-color: rgba(255, 255, 255, 0); }
.menu-button > .arrow-button, .menu-button > .arrow-button > .arrow { -fx-background-color: rgba(255, 255, 255, 0); }

/* Systems (left side) */
.system-titled-pane { -fx-animated: true; }

.system-titled-pane > .content { -fx-border-color: rgba(255, 255, 255, 0); }

.system-titled-pane > .title {
    -fx-background-color: #bbbbbb, white;
    -fx-background-insets: 0, 1, 0, 0;
    -fx-padding: 10px;
    -fx-text-fill: black;
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 16px;
}

.system-titled-pane > .title:hover {
    -fx-background-color: #bbbbbb, white;
    -fx-border-color: #008604;
    -fx-border-width: 0px 0px 0px 5px;
    -fx-border-style: solid;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 5, 0, -1, 0);
}

.system-dropdown-button {
    -fx-text-fill: black;
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-background-color: rgba(255, 255, 255, 0);
    -fx-background-radius: 5px;
    -fx-border-radius: 0px;
    -fx-font-size: 12px;
    -fx-padding: 7px;
}

.system-dropdown-button:hover {
    -fx-background-color: lightgray;
    -fx-cursor: hand;
}

.system-remove-button {
    -fx-background-color: #bbbbbb, linear-gradient(to bottom, #ff2c2c, #d71818);
    -fx-text-fill: white;
}

.system-remove-button:hover { -fx-background-color: linear-gradient(to bottom, #dc2828, #b21818); }

.selected-system-button {
    -fx-border-color: #008604;
    -fx-border-width: 0px 0px 0px 3px;
    -fx-border-style: solid;
}