.header-container {
    -fx-border-width: 0px 0px 1px 0px;
    -fx-border-color: lightgray;
    -fx-border-style: solid;
}

.text-field {
    -fx-border-width: 0px 0px 2px 0px;
    -fx-border-color: #a1a1a1;
    -fx-border-style: solid;
    -fx-text-fill: black;
    -fx-font-size: 14px;
    -fx-background-color: rgba(255, 255, 255, 0);
}

#submit-button {
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-font-size: 18px;
}