/* Metrics */

.metric-gauge {
    -fx-background-color: rgba(128, 128, 128, 0.11);
    -fx-background-radius: 0px 0px 0px 5px;
    -fx-border-color: gray;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-radius: 0px 0px 0px 5px;
    -fx-min-width: 50px;
    -fx-min-height: 25px;
    -fx-text-fill: black;
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 12px;
}

.metric-meter > .bar {
    -fx-background-insets: 1 1 1 1;
    -fx-background-radius: 2;
    -fx-padding: 2px;
}

.metric-meter > .track { -fx-background-color: #c4c4c4; }

.metric-titled-pane > .title {
    -fx-background-color: rgba(255, 255, 255, 0);
    -fx-border-color: #008604;
    -fx-border-width: 0px 0px 2px 0px;
    -fx-border-style: solid;
    -fx-alignment: center;
}

.metric-titled-pane > .content {
    -fx-background-color: rgba(255, 255, 255, 0);
    -fx-background-radius: 0px 0px 10px 10px;
    -fx-border-color: rgba(255, 255, 255, 0);
}

